.headerSW {
  text-align: center;
  background-image: url("https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569__480.jpg");
  color: whitesmoke;
  font-weight: bold;
}

table {
  width: 100%;
}
table,
th,
td {
  border: 1px solid black;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline;
  padding: 8px;
}
